@use "variables" as *;

.header {
    position: relative;
    display: flex;
    justify-content: center;

    padding: 40px 0;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__item a {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: $accentColor;
        transition: $transition;

        &:hover {
            color: darken($accentColor, 30%);
        }
    }
}

.header-contact-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;

    width: 240px;
    height: 55px;

    background-color: #fff27a;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 5px rgba(255, 242, 122, 0.25));

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;

    color: #000000;

    transition: $transition;

    &:hover {
        background-color: darken($accentColor, 25%);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top {
    margin-top: 80px;
}

.main-h1 {
    margin-bottom: 15px;

    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;

    &__first-row {
        font-size: 64px;
    }

    &__name {
        color: $accentColor;
    }
}

.main-profession {
    margin-bottom: 50px;

    color: $accentColor;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
}

.main-contacts-list {
    display: flex;
    gap: 30px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 130px;
        height: 150px;

        border-radius: 15px;
    }
}

.vk-card {
    background-color: #0077ff;
}

.tg-card {
    background-color: #2aabee;
}

.email-card {
    background-color: #ee592a;
}

.main-social-network-name { 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}
