@use "variables" as *;

.header {
    position: relative;
    display: flex;
    justify-content: center;

    padding: 40px 0;

    @media screen and (max-width: 800px) {
        position: static;
    }
}

.header-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 28px !important;

    & a {
        color: $accentColor;

        &:hover {
            color: darken($accentColor, 25%);
        }
    }

    @media screen and (max-width: 1000px) {
        position: static;
        display: none;
    
        left: 0;
        top: 0%;
        transform: none;
    }
}

.header-logo__li {
    @media screen and (max-width: 1000px) {
        display: block !important;
        margin: 0 !important;
        line-height: 24px;
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__item a {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: $accentColor;
        transition: $transition;

        &:hover {
            color: darken($accentColor, 30%);
        }
    }

    @media screen and (max-width: 510px) {
        flex-direction: column;

        &__item {
            text-align: center;
        }
    }
}

.header-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;

    width: 15%;
    height: 55px;

    background-color: #fff27a;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 5px rgba(255, 242, 122, 0.25));

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;

    color: #000000;

    transition: $transition;

    &:hover {
        background-color: darken($accentColor, 25%);
    }

    @media screen and (max-width: 800px) {
        position: static;
        display: block;

        width: 350px;
        margin-top: 60px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top {
    display: grid;
    grid-template-columns: auto 35%;

    margin-top: 60px;
    margin-bottom: 115px;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'main';
    }
}

.main-top-left {
    @media screen and (max-width: 800px) {
        grid-area: main;
    }
}

.main-h1 {
    margin-bottom: 15px;

    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;

    &__first-row {
        font-size: 64px;
    }

    &__name {
        color: $accentColor;
    }
}

.main-profession {
    margin-bottom: 50px;

    color: $accentColor;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;

    @media screen and (max-width: 800px) {
        text-align: center;
    }
}

.main-contacts-list {
    display: flex;
    gap: 30px;

    &__item {
        width: 130px;
        height: 150px;

        border-radius: 15px;

        transition: $transition;

        &:hover {
            transform: scale(1.07);
        }

        & a {
            display: flex;
            flex-direction: column;
            align-items: center;

            height: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        justify-content: center;
    }

    @media screen and (max-width: 510px) {
        flex-direction: column;
        align-items: center;

        &__item {
            width: 80%;
        }
    }
}

.main-social-networks-icon {
    background-repeat: no-repeat;
    background-position: center;
}

.vk-card {
    background-color: #0077ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 119, 255, 0.25));

    .main-social-networks-icon {
        width: 114px;
        height: 114px;

        background-image: url(../img/vk.svg);
    }
}

.tg-card {
    background-color: #2aabee;
    filter: drop-shadow(0px 4px 4px rgba(42, 171, 238, 0.25));

    .main-social-networks-icon {
        width: 114px;
        height: 114px;

        background-image: url(../img/tg.svg);
    }
}

.email-card {
    background-color: #ee592a;
    filter: drop-shadow(0px 4px 4px rgba(238, 89, 42, 0.25));

    .main-social-networks-icon {
        width: 114px;
        height: 114px;

        background-image: url(../img/mail.svg);
    }
}

.gh-card {
    background-color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));

    .main-social-networks-icon {
        width: 80px;
        height: 114px;

        background-image: url(../img/github.svg);
        background-size: contain;
    }
}

.main-social-network-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
}

.main-top-right {
    width: 100%;
    align-self: center;

    margin-top: -50px;
}

.main-img {
    width: 100%;

    border-radius: 50%;

    @media screen and (max-width: 800px) {
        width: 30vw;

        grid-area: img;
        justify-self: center;
    }
}

.main-h2 {
    margin-bottom: 70px;

    color: $accentColor;

    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}

// Skills

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 110px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    width: 100%;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 350px;
        height: 400px;

        padding: 30px 53px;

        border-radius: 15px;

        transition: $transition;

        &:hover {
            transform: scale(1.07);
        }
    }

    @media screen and (max-width: 1160px) {
        justify-content: center;
    }
}

.html-card {
    background-color: #f26b3a;
}

.css-card {
    background-color: #33a9dc;
}

.js-card {
    background-color: #dd9428;
}

.skill-card-icon {
    width: 220px;
    height: 220px;

    margin-bottom: 50px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.html-icon {
    background-image: url("../img/html.svg");
}

.css-icon {
    background-image: url("../img/css.svg");
}

.js-icon {
    background-image: url("../img/js.svg");
}

.skill-card-name {
    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
}

// Portfolio
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    width: 100%;

    margin-bottom: 50px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        padding-bottom: 15px;

        width: 350px;

        border-radius: 15px;

        transition: $transition;

        &:hover {
            transform: scale(1.07);
        }
    }
}

#portfolioItem1 {
    background-color: orangered;
}

#portfolioItem2 {
    background-color: grey;
}

#portfolioItem3 {
    background-color: #004aad;
}

.portfolio-card-img {
    width: 100%;
    height: 60%;

    margin-bottom: 20px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.portfolio-card-name {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;

    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.portfolio-card-description {
    margin-left: 20px;
    margin-right: 20px;

    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.portfolio-more-link {
    margin-bottom: 50px;

    color: $accentColor;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    transition: $transition;

    &:hover {
        color: darken($accentColor, 25%);
    }
}
